body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
@font-face {
  font-family: "Date Stamp";
  src: url("./Date\ Stamp.woff") format("woff");
}

#clock {
  font-family: "Date Stamp";
  font-weight: bold;
  font-size: 3em;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
}
#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: transparent;
  z-index: -1;
}

#video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border: none;
}
