body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
@font-face {
  font-family: "Date Stamp";
  src: url("./Date\ Stamp.woff") format("woff");
}

#clock {
  font-family: "Date Stamp";
  font-weight: bold;
  font-size: 3em;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
}
#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background-color: transparent;
  z-index: -1;
}

#video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border: none;
}

#github-link {
  position: fixed;
  bottom: 10px;
  left: 10px;
  opacity: 0.05;
  transition: opacity 0.6s;
}

#github-link:hover {
  opacity: 1;
}

#github-link img {
  filter: invert(100%);
}

#settings-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
